{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <ul class="submission-list">
    <li>
      <div class="item-index"></div>
      <div class="item-content">
        <div class="item-title">Example Submission Title</div>
        <div class="item-meta"><span class="timestamp">2025-11-11 13:54</span></div>
      </div>
      <div class="item-actions">
        <a class="action-btn" href="#">View</a>
        <a class="action-btn primary" href="#">Open Form</a>
      </div>
    </li>
  </ul>
</div>
{% endblock %}
